





.hypertext
{
color: #fafafa;
}

.border-theme
{
border: 1px solid black;
}

.navbar
{
background-color: #fcdada;
color: #ffffff;
}

.nav-link
{
color: #ffa5a5
}
.footer 
{
background-color: grey;
color: #ffffff;
}

.input-item
{
border: solid 1px black;
}

.input-text
{
font-weight: bold;
}

.timeline-item
{
padding: 4em 2em 0em 2em;
position: relative;
border-left: 1px solid;
}

.timeline-item p
{
margin: 0px;
padding:0px;
}

.timeline-item:before
{
content: attr(data-dates);
position: absolute;
left: 2.5em;
top: 3em;
display: block;
font-family: sans-serif;
font-weight: 500;
font-size: 0.8em;
padding:0;
margin:0;
}

.timeline-item:after{
width: 12px;
height: 12px;
display: block;
top: 2.4em;
position: absolute;
left: -6px;
border-radius: 12px;
content: '';
background: slategrey;
}