









* {
font-family: 'Roboto', sans-serif;
}
.icons 
{
height:50px;
width: 50px;
border-radius: 50px;
}
.home-page
{
background-color: lightgrey;
background-image: url(img/light.jpg);
background-repeat: no-repeat;
background-size:cover; ;
background-position:center ;


}
.hypertext
{
color:#1f6f8b;
text-decoration: none;
}



.hypertext:hover 
{
color: black;
text-decoration: none;
}

ul 
{
list-style-type:none;
}
.border-theme
{
margin: 10px;
padding: 10px;
background-color: #99a8b2;
border: 1px solid black;
border-radius: 10px;
}

.smile { border-radius: 40px; }

.navbar
{
background-color: lightgrey;
}

.nav-link
{
color: #1f6f8b
}

.nav-link:hover
{
color: black;
}
.footer 
{
border: solid 1px black;
border-radius: 10px;
background-color:lightgrey;
color: #1f6f8b;
}
.footer h4 
{
    text-align: center;
color:black;
}

body
{
background-color: lightgrey;
}






.input-item
{
border: solid 1px black;
border-radius: 10px;
background-color: lightgrey;
}

.input-text
{
font-weight: bold;
}

.timeline-item
{
padding: 4em 2em 0em 2em;
position: relative;
border-left: 1px solid;
}

.timeline-item p
{
margin: 0px;
padding:0px;
}

.timeline-item:before
{
content: attr(data-dates);
position: absolute;
left: 2.5em;
top: 3em;
display: block;
font-family: sans-serif;
font-weight: 500;
font-size: 0.8em;
padding:0;
margin:0;
}

.timeline-item:after{
width: 12px;
height: 12px;
display: block;
top: 2.4em;
position: absolute;
left: -6px;
border-radius: 12px;
content: '';
background: black;
}

